fastapi
uvicorn[standard]
streamlit
sqlalchemy
psycopg2-binary   # PostgreSQL için (SQLite için gerekmez)
python-dotenv
bcrypt
pyjwt
apscheduler
requests
pandas
plotly
pydeck
streamlit-folium  # (alternatif harita için)
